<!DOCTYPE html>
<html ng-app="daily">
  <head>
    <title>Daily Sport Boss</title>
    <link href="<%=request.protocol%>fonts.googleapis.com/css?family=Lato:400,700,300,400italic" rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <%= stylesheet_link_tag "application", media: "all" %>
    <%= csrf_meta_tags %>
    <%= favicon_link_tag 'favicon.ico' %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  </head>

  <body ng-controller="BaseController">
    <div ng-include="'<%= asset_path("templates/shared/navigation.html") %>'"></div>
    <div ui-view class="content">
    </div>
    <div ng-include="'<%= asset_path("templates/shared/footer.html") %>'"></div>
    <%= javascript_include_tag "application.js" %>
  </body>
</html>
